body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* header */
header {
    background-color: #322E2E;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding: 20px 0;
}

.Menu {
    display: flex;
}

.MenuLink {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 15px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
.input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 24px;
    height: 24px;
}

.User a {
    color: rgb(117, 117, 117);
    text-decoration: none;
    margin-left: 10px;
}

.Register {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #E5E7EB;
    color: #322E2E;
    cursor: pointer;
}

/* container-cima */
#container-cima {
    max-width: 100%;
    background-color: #9e9ea7;
    width: 100%;
    height: 650px;
}

#titulo-cima {
    font-size: 80px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 20px;
    margin-left: 8%;
    padding-top: 11%;
    margin-top: 0;
    opacity: 0.7;
}

/* container-baixo */
#container-baixo {
    max-width: 100%;
    background-color: #727171;
    width: 100%;
    height: 680px;
    text-align: center;
}

#container-baixo h1 {
    font-size: 60px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 12px;
    margin-top: 0;
    padding-top: 5%;
    opacity: 0.7;
}

.titulos-baixo {
    display: flex;
    margin-top: 60px;
    justify-content: space-around;
}

.titulos-baixo h3 {
    background-color: white;
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 0;
}

.titulos-baixo .publicar-projeto {
    background-color: #00D1FF;
    color: black;
}

.titulos-baixo .sou-freelancer {
    background-color: white;
    color: black;
}

#container-baixo #cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: white;
    width: 40%;
    height: 300px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card i {
    font-size: 45px;
    margin-top: 35px;
    margin-left: 20px;
}

/* pronto pra comecar */

#fds{
    margin-top: 100px;
    margin-bottom: 200px;
}

#pronto {
    font-size: 60px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 12px;
    padding-top: 5%;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 80px;
}

button {
    border: none;
    background-color: black;
    color: white;
    padding: 18px 60px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

/* footer */
.debaixo {
    background-color: #3C3737;
    color: white;
    text-align: center;
    padding: 60px;
}

.emcima {
    background-color: #322E2E;
    padding: 18px;
    margin-top: 100px
}