body {
    font-family: Arial, sans-serif;
    margin: 0;
    max-width: 100%;
}

/* header */
header {
    background-color: #322E2E;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding: 20px 0;
}

.Menu {
    display: flex;
}

.MenuLink {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 15px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
.input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 24px;
    height: 24px;
}

.User a {
    color: rgb(117, 117, 117);
    text-decoration: none;
    margin-left: 10px;
}

.Register {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #E5E7EB;
    color: #322E2E;
    cursor: pointer;
}
/*header - fim*/

.container {
    padding: 20px;
    width: 40%;
    margin: 0 auto;
}

h1 {
    font-family: sans-serif;
    margin-bottom: 10px;
}

form {
    margin-top: 20px;
}

.form-section h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.input-wrapper {
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 4px;
    padding: 8px;
}

.input-wrapper input {
    border: none;
    background: none;
    padding: 0;
    margin-right: 5px;
    width: 100%;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.input-wrapper span {
    font-size: 14px;
    color: #555;
}

textarea {
    width: 100%;
    border: none;
    background-color: #e0e0e0;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    resize: none; /* Desabilitar redimensionamento */
}

button {
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: block; /* Tornar o botão um bloco */
    margin: 0 auto; /* Centralizar o botão */
}

button:hover {
    background-color: #333;
}

/* footer */
.debaixo {
    background-color: #3C3737;
    color: white;
    text-align: center;
    padding: 60px;
}

.emcima {
    background-color: #322E2E;
    padding: 18px;
    margin-top: 100px;
}
