/* Estilo global */
body {
    background: #2f2f2f;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif !important;
}

#tela {
    background: #2f2f2f;
    height: 100vh;
    flex-wrap: wrap;
}

p {
    font-weight: bold;
}

header img {
    max-width: 50%;
    max-height: 50%;
}

input::placeholder,
input {
    padding-left: 10px;
    font-size: 15px;
    color: #e2cc00;
}

input:hover,
select:hover {
    border: 2px solid #e2cc00 !important;
}

h5 {
    display: block;
    color: #e2cc00;
}

i {
    color: #e2cc00;
    font-size: 40px;
    margin-right: 20px;
}

.bi-chat-dots-fill:hover {
    color: black;
    background-clip: content-box;
    cursor: pointer;
}

/* Header */
.navbar img {
    max-width: 35% !important;
}

.navbar-toggler-icon {
    color: #e2cc00 !important;
}

.navbar {
    background-color: #333;
}

/* Use caso necessite de estilização para os componentes */
.navbar a {
    color: #e2cc00 !important;
}

nav li {
    margin-left: 40px;
}


/* Fim do Header */

/* Artefato e grid */
.artefato {
    display: grid;
    height: min-content;
    grid-template-rows: 250px 150px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    grid-gap: 10px;
    width: min-content;
}

.grid {
    grid-column: 1;
    grid-row: 1/2;
    background: #333;
    height: 420px;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #444;
    display: grid;
    grid-template-rows: repeat(6, 55px);
    grid-template-columns: repeat(3, 150px);
    grid-gap: 10px;
    width: 500px;
}

.grid p,
.dadosCartao p,
h5 {
    color: #e2cc00 !important;
}

.grid input,
select {
    border-radius: 20px;
    border: none;
    background: #444;
    color: #e2cc00 !important;
    height: 30px;
    display: block;
    margin-top: 39px;
    border: 0.2px solid #555;
    outline: none;
}

#estado {
    margin-top: 35px;
    height: 30px;
}

.p9,
.p10,
.p11,
.p3,
.p4,
.p5 {
    margin-top: 10px;
}

#nome {
    width: 150px !important;
}

#sobrenome {
    width: 250px;
}

.p1,
#nome {
    grid-column: 1;
    grid-row: 1;
    display: inline-block;
    width: 50%;
}

.p2,
#sobrenome {
    margin-left: 10px;
    grid-column: 2;
    grid-row: 1;
    display: inline-block;
}

.p3,
#cpf {
    grid-row: 2;
    grid-column: 1;
}

.p4,
#celular {
    grid-column: 1;
    grid-row: 3;
}

.p5,
#cep {
    grid-column: 1;
    grid-row: 4;
}

.p6,
#rua {
    grid-column: 1;
    grid-row: 5;
}

.p7,
#bairro {
    grid-column: 2;
    grid-row: 5;
}

.p8,
#numeroCasa {
    grid-column: 3;
    grid-row: 5;
}

select {
    height: 25px;
    width: 90%;
    background: #444;
    color: #FFF;
}

.p9,
select {
    grid-column: 1;
    grid-row: 6;
}

.p10,
#cidade {
    grid-column: 2;
    grid-row: 6;
    font-size: 15px;
}

#cidade {
    height: 25px;
    width: 80%;
    background: #444;
    color: #FFF;
}

#data {
    background: #222;
    color: #e2cc00;
    width: 100%;
}

.p11,
#pontoReferencia {
    grid-column: 3;
    grid-row: 6;
    font-size: 12px;
}

#pontoReferencia {
    height: 25px;
    width: 80%;
    background: #444;
    color: #FFF;
}

/* Dados do cartão */
.dadosCartao {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(4, 69px);
    grid-column: 2;
    grid-row: 1;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    grid-gap: 10px;
    height: min-content;
    border: 2px solid #444;
}

#numeroCartao,
#titular {
    width: 100%;
    border-radius: 10px;
    height: 30px;
    background: #444;
    color: #e2cc00;
}

#cvc {
    width: 50px;
    background: #444;
    color: #e2cc00;
}

#funcao {
    margin: 0px;
    background: #444;
    color: #FFF;
    height: 30px;
}

#valorPagamento {
    height: 20px;
    background: #444;
    color: #FFF;
}

#tela .artefato .dadosCartao span p {
    font-size: 100% !important;
    font-weight: bold;
}

.span1 {
    grid-column: 1/3;
    grid-row: 1;
}

.span2 {
    grid-column: 1/3;
    grid-row: 2;
}

.span3 {
    grid-column: 1/3;
    grid-row: 3;
}

.span4 {
    grid-column: 1/2;
    grid-row: 4;
}

.span5 {
    grid-column: 2/3;
    grid-row: 4;
}

.span5 select {
    margin: 0px;
}

/* Pagamento */
.bi-cart4 {
    font-size: 40px;
    color: #222;
    width: 100%;
    height: 100%;
}

.bi-cart4:hover,
#pagamento p:hover {
    color: #e2cc00;
}

#pagamento:hover {
    background: black;
    border: 2px solid #e2cc00;
}

#pagamento div {
    height: 100%;
    width: 100%;
}

#pagamento div:hover {
    color: #e2cc00 !important;
}

#pagamento {
    cursor: pointer;
    background: #e2cc00;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    width: 25%;
    margin: 50px auto;
    color: #222;
}

#pagamento p {
    color: #222;
}

/* Footer */
footer a:hover {
    text-decoration: none;
}

footer .section-padding {
    padding: 20px 0;
}

footer .bottom {
    background-color: #333;
}

footer .bottom .copyright {
    color: #e5e5e5;
    font-weight: 600;
}

.copyright a {
    color: #f2ff49;
    margin-left: 3px;
    padding-right: 3px;
}

footer .bottom p {
    margin-bottom: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
}

.copyright p span {
    color: #d1caca;
}

footer .bottom .copyright p,
.bottom .copyright a:hover {
    color: #6c6d83;
}

@media (max-width: 768px) {
    .artefato {
        display: flex;
        flex-direction: column;
    }

    .grid,
    .dadosCartao {
        width: 100%;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }

    .navbar img {
        max-width: 100%;
    }

    #pagamento {
        width: 50%;
        height: 10%;
    }

    #tela {
        height: 160vh;
    }
}

@media (max-width: 576px) {
    .artefato {
        display: flex;
        flex-direction: column;
    }

    .grid {
        grid-template-columns: repeat(2, 30%);
    }

    #sobrenome {
        max-width: 120%;
    }

    .grid,
    .dadosCartao {
        width: 100%;
        padding: 10px;
        align-items: center;
        justify-content: center;

    }

    .navbar img {
        max-width: 100%;
    }

    #pagamento {
        width: 50%;
        height: 10%;
    }

    #tela {
        height: 160vh;
        margin-inline: auto;
    }

    .p11,
    #pontoReferencia {
        grid-column: 2;
        grid-row: 4;
        font-size: 12px;
    }

    .p8,
    #numeroCasa {
        grid-column: 2;
        grid-row: 3;
    }
}
