body {
  background-color: #222;
  color: #fff;
}

.nav-link {
  color: #fff;
}

.nav-link.btn {
  color: #000;
  background-color: #ffd700;
}

h2 span.text-warning {
  color: #ffd700;
}

.project {
  border-top: 1px solid #ffd700;
  padding-bottom: 20px;
}

h3 {
  color: #ffd700;
}

.project-image img, 
.project-image div {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.project-info .form-control {
  background-color: #333;
  border: none;
  color: #fff;
}

.project-info .btn {
  width: 100%;
}

footer {
  border-top: 1px solid #ffd700;
  color: #ffd700;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.project-info .form-group {
  width: 100%;
}

.project-info .btn {
  margin-top: 10px;
}

.form-control {
  border: 1px solid #fff !important;
}

.button {
  background-color: #ffd700;
  border-color: #ffd700;
}

footer .social-links a {
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ffd700;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.custom-file-label {
  cursor: pointer;
  padding: 5px; /* Diminui o padding para 5px */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.logo img {
  max-width: 100px;
}